.box {
  padding: 40px;
  background-color: var(--color-light);
  border-radius: 8px;
  margin-bottom: 20px;
  color: var(--color-gray);
  box-shadow: var(--shadow-regular);
  position: relative;
  width: 320px;
  height: 180px;
  text-align: center;

}

.button {
  position: absolute;
  right: 0;
  top: 120px;
  padding: 10px;
  transition: transform var(--animation-cubicBezier);
}
.button:hover,
.button:focus {
  transform: scale(1.05);
}

.button:disabled {
  color: var(--color-gray);
  pointer-events: none;
}

.deleteButton {
  composes: button;
  top: 0;
  color: var(--color-gray);
}

.editButton {
  composes: button;
  bottom: 0;
  color: var(--color-lightBlue);
}
